.compose-container {
  display: flex;
  flex-direction: column;
}

.compose-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 637px;
  max-width: 1238px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  margin: 48px auto 28px auto;
  padding: 44px 99px 48px;
  border-radius: 12px;
}

.compose-header {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: rgb(87, 35, 117);
  font-family: sans-serif;
  font-weight: 550;
  margin-top: 12px;
  margin-bottom: 24px;
}

.compose-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.compose-form input {
  box-sizing: border-box;
  display: inline-block;
  cursor: text;
  border: 2px solid #cacaca;
  height: 46px;
  width: 1186px;
  font-size: 14px;
  border-radius: 7px;
  padding: 12px 16px;
  outline-color: darkorchid;
  margin-bottom: 7px;
  margin-top: 1px;
}

#content {
  height: 476px;
}

.submit-row {
  display: flex;
}

.submit-button {
  display: inline;
  box-sizing: border-box;
  width: 315px;
  height: 44px;
  cursor: pointer;
  color: white;
  background-color: rgb(87, 35, 117);
  border-radius: 7px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: auto;
}

.error {
  color: red;
  font-family: sans-serif;
}